
body,
html {
  width: 100%;
  height: 100%; 
}
.container-fluid{
    background-color:#6DF7CB;
}
body {
  font-family: 'Montserrat', sans-serif;
}
.rowImage {
  height:1000px;
  width:1000px;
}
.imageheader {
    background-image: url("../Img/grass.jpg");
    background-position: center;
    background-size: cover;
    height:100px;
    width:100px;
}